[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
argcomplete = "*"

[dev-packages]
molecule = "*"
molecule-podman = "*"
yamllint = "*"
ansible-lint = "*"
djlint = "*"

[requires]
python_version = "3.12"
