[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==8.*"
argcomplete = "==3.*"

[dev-packages]
molecule = "*"
molecule-podman = "*"
yamllint = "*"
ansible-lint = "*"

[requires]
python_version = "3.10"
