{
  "window.title": "${dirty}${activeEditorMedium}${separator}${rootPath}",
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "telemetry.telemetryLevel": "off",
  "workbench.startupEditor": "newUntitledFile",
  "workbench.editor.labelFormat": "short",
  "workbench.tree.indent": 4,
  "workbench.editor.enablePreviewFromQuickOpen": false,
  "workbench.settings.enableNaturalLanguageSearch": false,
  "editor.fontFamily": "'JetBrainsMono Nerd Font Mono', 'monospace'",
  "editor.fontSize": 13,
  "editor.fontLigatures": true,
  "editor.smoothScrolling": true,
  "editor.fontWeight": "400",
  "editor.letterSpacing": 1,
  "editor.lineHeight": 21,
  "editor.cursorBlinking": "phase",
  "editor.cursorSmoothCaretAnimation": "on",
  "editor.tabSize": 4,
  "editor.minimap.enabled": true,
  "editor.minimap.renderCharacters": false,
  "editor.minimap.maxColumn": 100,
  "editor.minimap.showSlider": "always",
  "editor.renderWhitespace": "all",
  "editor.lineNumbers": "relative",
  "terminal.integrated.copyOnSelection": true,
  "editor.scrollBeyondLastLine": false,
  "editor.cursorSurroundingLines": 10,
  "editor.tokenColorCustomizations": {
    "[GitHub Dark]": {
      "comments": "#77FF7799"
    }
  },
  "editor.rulers": [
    80,
    120
  ],
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "files.exclude": {
    "**/__pycache__": true,
    "**/.pytest_cache": true,
    "**/*.egg-info": true,
    "**/*.pyc": true
  },
  "redhat.telemetry.enabled": false,
  "json.maxItemsComputed": 10000,
  "window.titleBarStyle": "custom",
  "terminal.integrated.enableMultiLinePasteWarning": false,
  "security.workspace.trust.untrustedFiles": "open",
  "liveshare.sharedTerminalHeight": 1000,
  "liveshare.sharedTerminalWidth": 240,
  "extensions.autoCheckUpdates": false,
  "workbench.colorTheme": "GitHub Dark Default",
  "git.openRepositoryInParentFolders": "never",
  "workbench.activityBar.location": "top"
}
