---
# Must be defined in every host
# common_user_name
# common_user_group
# common_user_home
# common_user_email
# common_user_passwd

common_user_local_dir: "{{ common_user_home }}/.local"
common_user_config_dir: "{{ common_user_home }}/.config"
common_user_bin_dir: "{{ common_user_local_dir }}/bin"
common_utilities_dir: "{{ common_user_home }}/utilities"

common_main_font: JetBrainsMono Nerd Font 10

common_gtk_theme_name: Mint-Y-Dark
common_gtk_icon_theme_name: Mint-Y
common_gtk_cursor_theme_name: Bibata-Modern-Ice

# Wallpaper config file
common_wallpaper_dir: /usr/share/backgrounds/nd_wallpapers
common_fehbg_file: "{{ common_user_home }}/.fehbg"

# Terminal config
common_picom_config_file: "{{ common_user_config_dir }}/picom/picom.conf"
