[colors.bright]
black = "0x4a4a4a"
blue = "0x89b4bc"
cyan = "0xa0c9c1"
green = "0xb9ca4a"
magenta = "0xc2a3ff"
red = "0xf79274"
white = "0xf0f0f0"
yellow = "0xe7c547"

[colors.normal]
black = "0x1e1e1e"
blue = "0x6a9fb5"
cyan = "0x8fa1b3"
green = "0x98b963"
magenta = "0xaa75c5"
red = "0xcf6a4c"
white = "0xe5e5e5"
yellow = "0xe5e555"

[colors.primary]
background = "0x1e1e1e"
foreground = "0xe5e5e5"

[font]
size = 11

[font.bold]
family = "EnvyCodeR Nerd Font Mono"
style = "Bold"

[font.bold_italic]
family = "EnvyCodeR Nerd Font Mono"
style = "Bold Italic"

[font.italic]
family = "EnvyCodeR Nerd Font Mono"
style = "Italic"

[font.normal]
family = "EnvyCodeR Nerd Font Mono"
style = "Regular"

[[keyboard.bindings]]
action = "Paste"
key = "V"
mods = "Command"

[[keyboard.bindings]]
action = "Copy"
key = "C"
mods = "Command"

[[keyboard.bindings]]
action = "SpawnNewInstance"
key = "N"
mods = "Command|Shift"

[[mouse.bindings]]
action = "Paste"
mods = "None"
mouse = "Middle"

[scrolling]
history = 10000

[selection]
save_to_clipboard = true
semantic_escape_chars = ",│`|:\"' ()[]{}<>\t"

[window]
opacity = 0.8

[window.dimensions]
columns = 80
lines = 24

[window.padding]
x = 5
y = 5
