-- Config table
-- https://wezfurlong.org/wezterm/config/lua/config/index.html

local wezterm = require 'wezterm'
local config = {}

if wezterm.config_builder then
  config = wezterm.config_builder()
end

config.colors = {
  background = "{{ color_scheme.term_bg }}",
  foreground = "{{ color_scheme.term_on_bg }}",
  -- Overrides the cell background color when the current cell is occupied by the
  -- cursor and the cursor style is set to Block
  cursor_bg = "{{ color_scheme.term_on_primary }}",
  -- Overrides the text color when the current cell is occupied by the cursor
  cursor_fg = "{{ color_scheme.term_on_primary }}",
  -- Specifies the border color of the cursor when the cursor style is set to Block,
  -- or the color of the vertical or horizontal bar when the cursor style is set to
  -- Bar or Underline.
  cursor_border = "{{ color_scheme.term_on_primary }}",
  -- the foreground color of selected text
  selection_fg = "{{ color_scheme.term_on_primary }}",
  -- the background color of selected text
  selection_bg = "{{ color_scheme.term_primary }}",
  -- The color of the scrollbar "thumb"; the portion that represents the current viewport
  scrollbar_thumb = '#222222',
  -- The color of the split lines between panes
  split = '#444444',

  ansi = {
    "#000000",
    "#dc322f",
    "#56db3a",
    "#ff8400",
    "#0084d4",
    "#b729d9",
    "#ccccff",
    "#ffffff"
  },
  brights = {
    "#1b1d21",
    "#dc322f",
    "#56db3a",
    "#ff8400",
    "#0084d4",
    "#b729d9",
    "#ccccff",
    "#ffffff"
  },

  tab_bar = {
    background = "{{ color_scheme.term_bg }}",
    active_tab = {
      bg_color = '{{ color_scheme.term_secondary }}',
      fg_color = '{{ color_scheme.term_on_secondary }}',
      intensity = 'Bold',
    },
    inactive_tab = {
      bg_color = '{{ color_scheme.term_secondary_container }}',
      fg_color = '{{ color_scheme.term_on_secondary_container }}',
    },
    inactive_tab_hover = {
      bg_color = '{{ color_scheme.term_secondary_dimmed }}',
      fg_color = '{{ color_scheme.term_on_secondary_dimmed }}',
    },
    new_tab = {
      bg_color = '{{ color_scheme.term_secondary_container }}',
      fg_color = '{{ color_scheme.term_on_secondary_container }}',
    },
    new_tab_hover = {
      bg_color = '{{ color_scheme.term_secondary_dimmed }}',
      fg_color = '{{ color_scheme.term_on_secondary_dimmed }}',
    },
  },
}
config.use_fancy_tab_bar = false
-- BUG si se pone la barra abajo se pierde la opacidad
-- config.tab_bar_at_bottom  = false
{# config.window_background_opacity = 0.8 #}
config.window_frame = {

  font = wezterm.font "JetBrains Mono Nerd Font Mono",
  font_size = 12,

  active_titlebar_bg = "rgba(30,30,30,0)",
  inactive_titlebar_bg = "rgba(30,30,30,0)",

}

return config
