{{ ansible_managed | comment }}

set $mod {{ i3_config_mod }}
set $ws1 "1  Term"
set $ws2 "2  Web"
set $ws3 "3  Code"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8  Notes"
set $ws9 "9  Chat"
set $ws10 "10  Music"

bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
bindsym $mod+0 workspace number $ws10

bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

assign [class="Gnome-terminal"] $ws1
assign [window_role="^browser$"] $ws2
assign [class="Code"] $ws3
assign [class="obsidian"] $ws8
assign [class="ZapZap"] $ws9
assign [class="Skype"] $ws9
assign [class="Spotify"] $ws10

for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable

set $inner_gaps 15px
set $outer_gaps 0px

smart_gaps on

gaps inner $inner_gaps
gaps outer $outer_gaps

workspace $ws1 gaps inner $inner_gaps
workspace $ws1 gaps outer $outer_gaps

workspace $ws9 gaps inner $inner_gaps
workspace $ws9 gaps outer $outer_gaps

workspace $ws10 gaps inner $inner_gaps
workspace $ws10 gaps outer $outer_gaps
