{{ ansible_managed | comment }}

font pango:{{ i3_config_font }}

workspace_auto_back_and_forth yes
hide_edge_borders both

default_border pixel 2
default_floating_border pixel 4

set $background         {{ color_scheme.background }}
set $foreground         {{ color_scheme.foreground }}
set $active_workspace   {{ color_scheme.active_workspace }}
set $active_foreground   {{ color_scheme.active_foreground }}
set $inactive_workspace {{ color_scheme.inactive_workspace }}
set $inactive_foreground {{ color_scheme.inactive_foreground }}
set $urgent_workspace   {{ color_scheme.urgent_workspace }}
set $urgent_foreground   {{ color_scheme.urgent_foreground }}

client.focused          $active_workspace   $active_workspace   $active_foreground $active_workspace   $active_workspace
client.focused_inactive $inactive_workspace $inactive_workspace $inactive_foreground $inactive_workspace $inactive_workspace
client.unfocused        $inactive_workspace $inactive_workspace $inactive_foreground $inactive_workspace $inactive_workspace
client.urgent           $urgent_workspace   $urgent_workspace   $urgent_foreground $urgent_workspace   $urgent_workspace

bar {
    i3bar_command i3bar -t
    output $screen_main
    status_command i3status
    position bottom
    tray_padding 3
    separator_symbol " | "
    workspace_min_width 80

    colors {
        background $background
        statusline $foreground
        focused_workspace  $active_workspace   $active_workspace   $active_foreground
        inactive_workspace $inactive_workspace $inactive_workspace $inactive_foreground
        urgent_workspace   $urgent_workspace   $urgent_workspace   $urgent_foreground
    }
}
