{{ ansible_managed | comment }}

font pango:{{ i3_config_font }}

workspace_auto_back_and_forth yes
hide_edge_borders both

default_border pixel 2
default_floating_border pixel 4

gaps inner 10px
gaps outer 5px

set $background         {{ i3_color_scheme.background }}
set $foreground         {{ i3_color_scheme.foreground }}
set $active_workspace   {{ i3_color_scheme.active_workspace }}
set $inactive_workspace {{ i3_color_scheme.inactive_workspace }}
set $urgent_workspace   {{ i3_color_scheme.urgent_workspace }}

client.focused          $active_workspace   $active_workspace   $foreground $active_workspace   $active_workspace
client.focused_inactive $inactive_workspace $inactive_workspace $foreground $inactive_workspace $inactive_workspace
client.unfocused        $inactive_workspace $inactive_workspace $foreground $inactive_workspace $inactive_workspace
client.urgent           $urgent_workspace   $urgent_workspace   $foreground $urgent_workspace   $urgent_workspace

bar {
    status_command i3status
    position bottom
    tray_padding 3
    separator_symbol " | "
    workspace_min_width 80

    colors {
        background $background
        statusline $foreground
        focused_workspace  $active_workspace   $active_workspace   $foreground
        inactive_workspace $inactive_workspace $inactive_workspace $foreground
        urgent_workspace   $urgent_workspace   $urgent_workspace   $foreground
    }
}
