{{ ansible_managed | comment }}
# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex --autostart --environment i3

exec --no-startup-id xset -dpms 0 0 0
exec --no-startup-id xautolock -time 10 -locker "scrotlock -i /usr/share/backgrounds/nd_wallpapers/guts.jpg"

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

exec --no-startup-id /usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1
exec --no-startup-id mintupdate-launcher

# feh background
exec --no-startup-id "/usr/bin/sh {{ common_fehbg_file }}"

# picom transparency
exec --no-startup-id "/usr/bin/picom -b --experimental-backends --config {{ common_picom_config_file }}"
