{{ ansible_managed | comment }}
# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex --autostart --environment i3

# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

exec --no-startup-id /usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1
exec --no-startup-id mintupdate-launcher

# feh background
exec --no-startup-id "/usr/bin/sh {{ common_fehbg_file }}"

# picom transparency
exec --no-startup-id "/usr/bin/picom -b --experimental-backends --config {{ common_picom_config_file }}"

# System startup
{% for apt_program in common_apt_startup_apps %}
exec --no-startup-id "/usr/bin/sh -c 'sleep 1; exec {{ apt_program }}'"
{% endfor %}

{% for flatpak_program in common_flatpak_apps %}
{% if flatpak_program.on_startup %}
exec --no-startup-id "/usr/bin/sh -c 'sleep 1; exec {{ flatpak_program.cmd }}'"
{% endif %}
{% endfor %}
