
# Lock - Reboot - Shutdown mode
set $mode_system (l) Lock | (e) Logout | (r) Reboot | (CTRL+s) Shutdown

bindsym $mod+BackSpace mode "$mode_system"

mode "$mode_system" {
    bindsym l exec --no-startup-id $i3lockwall, mode "default"
    bindsym e exec --no-startup-id i3-msg exit, mode "default"
    bindsym s exec --no-startup-id $i3lockwall && systemctl suspend, mode "default"
    bindsym h exec --no-startup-id $i3lockwall && systemctl hibernate, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Ctrl+s exec --no-startup-id systemctl poweroff -i, mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Settings and configurations mode
set $mode_settings Settings (s) | Audio (a) | Drivers (d)

bindsym $mod+exclamdown mode "$mode_settings"

mode "$mode_settings" {
    bindsym s exec --no-startup-id cinnamon-settings, mode "default"
    bindsym a exec --no-startup-id cinnamon-settings sound, mode "default"
    bindsym d exec --no-startup-id cinnamon-settings driver-manager, mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

