configuration {
  modi: [window,drun,filebrowser,run,ssh];
  show-icons: true;
  icon-theme: "{{ common_gtk_icon_theme_name }}";
  font: "{{ common_main_font }}";
  terminal: "wezterm";
  timeout {
    action: "kb-cancel";
    delay: 0;
  }

  threads: 0;
  click-to-exit: true;
  case-sensitive: false;
  cycle: true;

  matching: "normal";
  tokenize: true;

  steal-focus: false;

  ssh-client: "ssh";
  parse-hosts: true;
  parse-known-hosts: true;
  filebrowser {
    directories-first: true;
    sorting-method: "name";
  }

  drun-categories: "";
  drun-match-fields: "name,generic,exec,categories,keywords";
  drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
  drun-show-actions: false;
  drun-url-launcher: "xdg-open";
  drun-use-desktop-cache: false;
  drun-reload-desktop-cache: false;
  drun {
    parse-user:   true;
    parse-system: true;
  }

  run-command: "{cmd}";
  run-list-command: "";
  run-shell-command: "{terminal} -e {cmd}";

  window-match-fields: "title,class,role,name,desktop";
  window-command: "wmctrl -i -R {window}";
  window-format: "{w} - {c} - {t:0}";
  window-thumbnail: false;

  disable-history: false;
  sorting-method: "normal";
  max-history-size: 25;

  display-window: "Windows";
  display-windowcd: "Window CD";
  display-run: "Run";
  display-ssh: "SSH";
  display-drun: "Apps";
  display-combi: "Combi";
  display-keys: "Keys";
  display-filebrowser: "Files";
}

@theme "theme"
