{{ ansible_managed | comment }}

# Use pactl to adjust volume in PulseAudio.
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle

bindsym $mod+Ctrl+Left  exec --no-startup-id pulse tmute
bindsym $mod+Ctrl+Right exec --no-startup-id pulse next-sink
bindsym $mod+Ctrl+Up    exec --no-startup-id pulse vup
bindsym $mod+Ctrl+Down  exec --no-startup-id pulse vdown

bindsym $mod+Ctrl+l exec --no-startup-id scrotlock -i {{ common_wallpaper_dir }}/eva1.png

# Custom script to toggle the screen location.
bindsym $mod+m exec --no-startup-id screenswitcher

# Flameshot for screenshots
bindsym $mod+Print exec --no-startup-id flameshot gui
bindsym $mod+Shift+Print exec --no-startup-id flameshot full

# start a terminal
# bindsym $mod+Return exec i3-sensible-terminal
bindsym $mod+Return exec $terminal

# kill focused window
bindsym $mod+q kill

# Rofi
bindsym $mod+d exec --no-startup-id rofi -config {{ i3_rofi_config_file }} -show drun
bindsym $mod+Shift+d exec --no-startup-id rofi -config {{ i3_rofi_config_file }} -show run
bindsym $mod+Shift+s exec --no-startup-id rofi -config {{ i3_rofi_config_file }} -show ssh

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+ntilde move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
# bindsym $mod+h split h

# split in vertical orientation
# bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
# bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart

# Lock - Reboot - Shutdown mode
set $mode_system (e) Logout | (r) Reboot | (CTRL+s) Shutdown

bindsym $mod+BackSpace mode "$mode_system"

mode "$mode_system" {
    bindsym e exec --no-startup-id i3-msg exit, mode "default"
    bindsym r exec --no-startup-id systemctl reboot, mode "default"
    bindsym Ctrl+s exec --no-startup-id systemctl poweroff -i, mode "default"

    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Settings and configurations mode
set $mode_settings Settings (s) | Audio (a) | Drivers (d)

bindsym $mod+exclamdown mode "$mode_settings"

mode "$mode_settings" {
    bindsym s exec --no-startup-id cinnamon-settings, mode "default"
    bindsym a exec --no-startup-id cinnamon-settings sound, mode "default"
    bindsym d exec --no-startup-id cinnamon-settings driver-manager, mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

set $resize Resize

bindsym $mod+r mode "$resize"

mode "$resize" {
        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym ntilde resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

