{{ ansible_managed | comment }}

set $mod {{ i3_config_mod }}

set $screen_main {{ i3_main_screen }}
# set $screen_main {{ i3_secondary_screen }}
set $screen_notebook {{ i3_secondary_screen }}

set $terminal {{ i3_default_terminal }}

include {{ i3_config_subdir }}/*.cfg
