# Set the maximum number of articles per feed
max-items 100

# Set the default browser
browser "links"

# Do not show feeds without unread articles
show-read-feeds no

# Unbind a key
unbind-key R

# Bind a new key
bind-key ^R reload-all

# Set the download path for podcasts
download-path "~/mypodcasts/%n/%F"
{% raw %}
# Set the format for podcast filenames
download-filename-format "{\%y}{%m}{%d}_{%H}{%M}_#h"
{% endraw %}
# Set the player for podcasts
player "mpv"

# Set the reload time (in minutes)
reload-time 60

# Set the ignore-mode
ignore-mode "display"

color listnormal         color15 default
color listnormal_unread  color2  default
color listfocus_unread   color2  color0
color listfocus          default color0
color background         default default
color article            default default
color end-of-text-marker color8  default
color info               color4  color8

highlight article "^(Feed|Title|Author|Link|Date): .+" color4 default bold
highlight article "^(Feed|Title|Author|Link|Date):" color14 default bold

highlight article "\\((link|image|video)\\)" color8 default
highlight article "https?://[^ ]+" color4 default
highlight article "\[[0-9]+\]" color6 default bold
