[Greeter]
# LightDM GTK+ Configuration

activate-numlock=true
background-color=#141424
background={{ apps_lightdm_wallpaper_file }}
draw-user-backgrounds=false
draw-grid=false
show-hostname=true
show-power=true
show-a11y=false
show-keyboard=true
show-clock=true
show-quit=true

theme-name={{ common_gtk_theme_name }}
icon-theme-name={{ common_gtk_icon_theme_name }}
font-name={{ common_main_font }}
cursor-theme-name={{ common_gtk_cursor_theme_name }}

xft-antialias=true
xft-dpi=96
xft-hintstyle=hintslight
xft-rgba=rgb

onscreen-keyboard=true
high-contrast=false
screen-reader=false

enable-hidpi=auto
only-on-monitor=-1
stretch-background-across-monitors=false
clock-format=%a %d %b, %H:%M
