window {
    font-family: "{{ common_main_font_name }}";
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 10px;
    font-size: 14px;
    color: #eeeeee;
}

#input {
    padding: 5px;
    border: none;
    background-color: #222;
    color: #fff;
}

#entry:selected {
    background-color: #444;
    color: #fff;
}
