alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias ap='ansible-playbook'

alias myip='printf "external: " && curl ifconfig.me && echo && printf "local: " && hostname -I'

for file in ${HOME}/{{ bash_scripts_dir | basename }}/*.sh
do
  . "$file"
done
