---

- name: Importing Linux Mint display_manager
  tags: tasks_display_manager
  when: ansible_distribution == "Linux Mint"
  ansible.builtin.include_role:
    name: lightdm

- name: Importing Debian display_manager
  tags: tasks_display_manager
  when: ansible_distribution == "Debian"
  ansible.builtin.include_role:
    name: startx
