set $mod Mod4
set $terminal foot

floating_modifier $mod

input type:keyboard {
    xkb_layout latam
}

input type:touchpad {
    accel_profile flat
}

default_border none
gaps inner 5
smart_gaps on
hide_edge_borders smart
workspace_auto_back_and_forth yes

bar {
    font pango:JetBrainsMono Nerd Font 10
    status_command i3status
}

exec_always swaync
exec_always swaybg -i /usr/share/backgrounds/wallpaper.png -m fill

bindsym $mod+Return  exec $terminal
bindsym $mod+d       exec wofi
bindsym $mod+Shift+d exec wofi --show run

bindsym Print exec grim - | swappy -f -
bindsym Shift+Print exec grim -g "$(slurp)" - | wl-copy
bindsym $mod+Shift+Print exec grim -g "$(slurp)" - | swappy -f -

bindsym $mod+Shift+r reload
bindsym $mod+q kill

bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

bindsym $mod+f fullscreen toggle
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10

bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

assign [app_id=".*spotify.*"]  6
assign [app_id=".*discord.*"]  7
assign [app_id=".*skype.*"]    8
assign [app_id=".*whatsapp.*"] 9
assign [app_id=$terminal]     1
assign [app_id=".*firefox.*"] 2
assign [app_id=".*chrom.*"]   2
assign [app_id="code"]        3

for_window [window_type="dialog"]  floating enable
for_window [window_type="utility"] floating enable
for_window [window_type="toolbar"] floating enable
for_window [window_type="splash"]  floating enable

# MODES

# Lock - Reboot - Shutdown mode
set $mode_system (e) Logout | (r) Reboot | (CTRL+s) Shutdown
bindsym $mod+BackSpace mode "$mode_system"
mode "$mode_system" {
    bindsym e      exec --no-startup-id swaymsg exit, mode "default"
    bindsym r      exec --no-startup-id swaymsg reboot, mode "default"
    bindsym Ctrl+s exec --no-startup-id swaymsg shutdown, mode "default"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Settings and configurations mode
set $mode_settings (n) Notifications
bindsym $mod+exclamdown mode "$mode_settings"
bindsym $mod+questiondown mode "$mode_settings"
mode "$mode_settings" {
    bindsym n exec --no-startup-id swaync-client -t -sw, mode "default"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

