# Show icons
show-icons=true
icon-theme={{ common_gtk_icon_theme_name }}

# Appearance
prompt=Apps
width=500
height=400

# DRun settings
gtk-dark=true

exec-search=true
term={{ terminal_emulator }}

# Other behavior
allow-markup=true
insensitive=true
no-actions=true

[keybindings]
move-up=Control+p
move-down=Control+n
