[main]
font=JetBrainsMono Nerd Font:size=11
dpi-aware=yes
pad=8x6
initial-window-size-pixels=800x600
term=xterm-256color

[scrollback]
lines=10000

[mouse]
hide-when-typing=yes
alternate-scroll-mode=yes

[colors]
background=0x1e1e2e
foreground=0xcdd6f4
# Normal colors
regular0=0x45475a
regular1=0xf38ba8
regular2=0xa6e3a1
regular3=0xf9e2af
regular4=0x89b4fa
regular5=0xf5c2e7
regular6=0x94e2d5
regular7=0xbac2de
# Bright colors
bright0=0x585b70
bright1=0xf38ba8
bright2=0xa6e3a1
bright3=0xf9e2af
bright4=0x89b4fa
bright5=0xf5c2e7
bright6=0x94e2d5
bright7=0xa6adc8

[cursor]
style=beam
blink=no

[bell]
urgent=no
notify=no

[key-bindings]
clipboard-copy=Control+Shift+c
clipboard-paste=Control+Shift+v

[url]
launch=xdg-open
osc8-underline=always

